body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

p {
  line-height: 2;
  padding-bottom: 50px;
}

hr {
  color: #dbe2ef;
  width: 5%;
  border-width: 10px;
  background-color: inherit;
  border-color: inherit;
  border-bottom: 0;
  border-style: dotted;
}

h1 {
  color: #3f72af;
  font-size: 4rem;
  margin: 50px auto 0 auto;
  font-family: 'Press Start 2P', cursive;
}

h2 {
  color: #3f72af;
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}

h3 {
  color: #3f72af;
  font-family: 'Montserrat', sans-serif;
}

.profile {
  width: 50%;
  margin: 0 auto 0 auto;
  padding-bottom: 50px;
}

.top-container {
  background-color: #dbe2ef;
  position: relative;
  padding-top: 100px;
}

.middle-container {
background-color: #f9f7f7;
padding-top: 100px;
padding-bottom: 100px;
}

.bottom-container {
padding-top: 50px;
background-color: #112d4e;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.footer-link {
  color: #3f72af;
  padding-left: 20px;
  padding-right: 20px;
}

.footer-copyright {
  color: #f9f7f7;
}

.skills {
  margin: 100px auto 100px auto;
}

.skill-row {
  width: 50%;
  margin: 0 auto 50px auto;
  text-align: left;
  line-height: 2;
}

.skill-image1 {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.skill-image2 {
  width: 26%;
  float: right;
  margin-left: 30px;
}

.contact-me {
  width: 50%;
  margin: 0 auto 0 auto;
  padding-top: 50px;
}

.btn {
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  background: #3f72af;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #87acd6;
  text-decoration: none;
}
